section {
  position: relative;
  text-align: center;
  max-width: 80rem;
  width: 100%;
  padding: 0.2rem 0.2rem;
  background-color: rgba(67, 66, 38, 0.659);
  border-radius: 1rem;
  margin-top: 1rem;
}

section li {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0.3rem 0rem;
  color: rgb(255 255 255);
  overflow-wrap: anywhere;
}

@media (min-width: 312px) and (max-width: 600px) {
}
