.work {
  margin-top: 2.5rem;
  transform: translateX(28%);
  margin-left: unset;
  margin-right: unset;
}

.colore {
  background-color: rgb(35, 73, 4);
  max-width: 70rem;
  width: 100%;
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  max-height: 80rem;
  overflow: overlay;
}
.colore ul {
  max-height: 55rem;
  overflow: overlay;
}
.lispacing {
  display: flex;
  justify-content: space-between;
  margin: 0.4rem 0.4rem;
}

.cancel {
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 700;
  border: unset;
  border-radius: 0.4rem;
}

.cancel:hover {
  color: rgb(242, 253, 24);
  background-color: rgb(93, 163, 99);
}

.h {
  background-color: rgb(186, 223, 53);
}
.w {
  background-color: rgb(233, 97, 73);
}
.f {
  opacity: 0.9;
  background-color: rgb(45, 189, 175);
}
.e {
  background-color: rgb(184, 224, 243);
}

@media (min-width: 312px) and (max-width: 600px) {
  .work {
    margin-top: 0;
    transform: unset;
    margin-left: unset;
    margin-right: unset;
  }
}

@media (min-width: 600px) and (max-width: 997px) {
  .work {
    transform: unset;
    margin-top: 2.5rem;
    margin-left: 20rem;
    margin-right: 2rem;
  }
}
